@{
    @model StudentVM
    @inject IRepositoryManager repository

    ViewData["Title"] = "Edit Student";

    var GroupList = new List<Group>();
    var res = await repository.GroupRepository.GetAllGroupsInCurrentYear();

    if (res.Count > 0)
    {
        GroupList = res.ToList();

    }



}



<!--Start Main content container-->
<div class="main_content_container">
    <div class="main_container  main_menu_open">
        <!--Start system bath-->
        <div class="home_pass hidden-xs">
            <ul>
                <li class="bring_right"><span class="glyphicon glyphicon-home "></span></li>
                <li class="bring_right"><a asp-action="index">إدارة الطلاب</a></li>
                <li class="bring_right"><a asp-action="index">البحث عن طالب</a></li>
                <li class="bring_right"><a href="">تعديل الطالب  @Model.Name</a></li>
            </ul>
        </div>
        <!--/End system bath-->
        <div class="page_content">

            <h1 class="heading_title">تعديل الطالب  @Model.Name</h1>


            <!--Start status alert-->
            @if (TempData.ContainsKey("error"))
            {

                <div class="alert alert-danger h4" role="alert">@TempData["error"]</div>
            }

            @if (TempData.ContainsKey("msg"))
            {
                <div class="alert alert-success h5" role="alert">@TempData["msg"]</div>
            }
            <!--/End status alert-->


            <div class="form">
                <form class="form-horizontal" method="post" asp-action="Edit">
                    <div asp-validation-summary="All" class=" alert-danger"></div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="hidden" asp-for="StudentId" class="form-control" placeholder="رقم الطالب">
                            <span class="text-danger" asp-validation-for="StudentId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-sm-2 control-label bring_right left_text">اسم الطالب</label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" placeholder="اسم الطالب">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="col-sm-2 control-label bring_right left_text">رقم الهاتف</label>
                        <div class="col-sm-10">
                            <input asp-for="Phone" class="form-control" placeholder="رقم الهاتف">
                            <span class="text-danger" asp-validation-for="Phone"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdNumber" class="col-sm-2 control-label bring_right left_text">الرقم الوطني</label>
                        <div class="col-sm-10">
                            <input asp-for="IdNumber" class="form-control" placeholder="الرقم الوطني">
                            <span class="text-danger" asp-validation-for="IdNumber"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-2 control-label bring_right left_text">كلمة السر</label>
                        <div class="col-sm-10">
                            <input asp-for="Password" class="form-control" placeholder="كلمة السر">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="GroupId" class="col-sm-2 control-label bring_right left_text">المجموعة</label>
                        <div class="col-sm-10">
                            <select asp-for="GroupId" class="form-control" asp-items='@new SelectList(GroupList,"GroupId","Name")'> </select>
                            <span class="text-danger" asp-validation-for="GroupId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">تعديل </button>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<!--/End Main content container-->