@{
    @model TeacherVM
    ViewData["Title"] = "Add Teacher";
}



<!--Start Main content container-->
<div class="main_content_container">
    <div class="main_container  main_menu_open">
        <!--Start system bath-->
        <div class="home_pass hidden-xs">
            <ul>
                <li class="bring_right"><span class="glyphicon glyphicon-home "></span></li>
                <li class="bring_right"><a asp-action="index">إدارة المدرسين</a></li>
                <li class="bring_right"><a href="">اضافة مدرس جديد </a></li>
            </ul>
        </div>
        <!--/End system bath-->
        <div class="page_content">

            <h1 class="heading_title">اضافة مدرس جديد</h1>


            <!--Start status alert-->
            @if (TempData.ContainsKey("error"))
            {

                <div class="alert alert-danger h4" role="alert">@TempData["error"]</div>
            }

            @if (TempData.ContainsKey("msg"))
            {
                <div class="alert alert-success h5" role="alert">@TempData["msg"]</div>
            }
            <!--/End status alert-->


            <div class="form">
                <form class="form-horizontal" method="post" asp-action="Edit">
                    <div asp-validation-summary="All" class=" alert-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-sm-2 control-label bring_right left_text">اسم المدرس</label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" placeholder="اسم المدرس">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="col-sm-2 control-label bring_right left_text">رقم الهاتف</label>
                        <div class="col-sm-10">
                            <input asp-for="Phone" class="form-control" placeholder="رقم الهاتف">
                            <span class="text-danger" asp-validation-for="Phone"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdNumber" class="col-sm-2 control-label bring_right left_text">الرقم الوطني</label>
                        <div class="col-sm-10">
                            <input asp-for="IdNumber" class="form-control" placeholder="الرقم الوطني">
                            <span class="text-danger" asp-validation-for="IdNumber"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-2 control-label bring_right left_text">الايميل</label>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control" placeholder="الايميل">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-2 control-label bring_right left_text">كلمة السر</label>
                        <div class="col-sm-10">
                            <input asp-for="Password" class="form-control" placeholder="كلمة السر">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">اضافة </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/End Main content container-->