@{
    @model YearVM
    ViewData["Title"] = "Edit Year";
}



<!--Start Main content container-->
<div class="main_content_container">
    <div class="main_container  main_menu_open">
        <!--Start system bath-->
        <div class="home_pass hidden-xs">
            <ul>
                <li class="bring_right"><span class="glyphicon glyphicon-home "></span></li>
                <li class="bring_right"><a asp-action="index"> السنوات الدراسية</a></li>
                <li class="bring_right"><a href="">تعديل السنة  @Model.Year1</a></li>
            </ul>
        </div>
        <!--/End system bath-->
        <div class="page_content">

            <h1 class="heading_title">تعديل السنة  @Model.Year1</h1>


            <!--Start status alert-->
            @if (TempData.ContainsKey("error"))
            {

                <div class="alert alert-danger h4" role="alert">@TempData["error"]</div>
            }

            @if (TempData.ContainsKey("msg"))
            {
                <div class="alert alert-success h5" role="alert">@TempData["msg"]</div>
            }
            <!--/End status alert-->


            <div class="form">
                <form class="form-horizontal" method="post" asp-action="Edit">
                    <div asp-validation-summary="All" class=" alert-danger"></div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="hidden" asp-for="YearId" class="form-control" placeholder="رقم السنة">
                            <span class="text-danger" asp-validation-for="YearId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year1" class="col-sm-2 control-label bring_right left_text"> السنة</label>
                        <div class="col-sm-10">
                            <input asp-for="Year1" class="form-control" placeholder="السنة">
                            <span class="text-danger" asp-validation-for="Year1"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="col-sm-2 control-label bring_right left_text">تاريخ بداية السنة</label>
                        <div class="col-sm-10">
                            <input asp-for="StartDate" class="form-control" placeholder="تاريخ بداية السنة">
                            <span class="text-danger" asp-validation-for="StartDate"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="col-sm-2 control-label bring_right left_text">تاريخ نهاية السنة</label>
                        <div class="col-sm-10">
                            <input asp-for="EndDate" class="form-control" placeholder="تاريخ نهاية السنة">
                            <span class="text-danger" asp-validation-for="EndDate"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input asp-for="Status" type="hidden" class="form-control" placeholder="الحالة">
                            <span class="text-danger" asp-validation-for="Status"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">تعديل </button>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<!--/End Main content container-->